# Copy to .env and fill in. Both point at USER-SUPPLIED, COPYRIGHTED files —
# never commit them or bake these paths into tracked code.
AVPE_CHD=/path/to/Aliens Versus Predator - Extinction (USA).chd
AVPE_BIOS_DIR=/path/to/PCSX2/bios
